[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/demo/Desktop/Help.desktop]
row=0
col=0

[/home/demo/Desktop/minstall.desktop]
row=2
col=0

[/home/demo/Desktop/FAQ.desktop]
row=1
col=0

